[alias]
    pushf = push --force-with-lease --force-if-includes
    tree = log --graph --pretty=format:'%x09%C(auto)%h %Cgreen%ad%Creset %C(cyan ul)%an%Creset %C(auto)%s %d' --date=format-local:'%Y-%m-%d %H:%M'
[color]
    ui = auto
[commit]
    verbose = true
[core]
    autocrlf = input
    editor = code --wait
    ignorecase = false
    safecrlf = true
    quotepath = false
[diff "sjis"]
    textconv = iconv -f sjis
[pull]
    ff = only
[push]
    autoSetupRemote = true
    default = current
[rebase]
    autostash = true
    autosqaush = true

[include]
    path = .gitconfig.local
